   body{
      background-image:linear-gradient(to right, #434343 0%, black 100%);
    }
    .bordered-text{
      border: 5px solid white;
      padding: 10px;
    }
    .bordered-text2{
      border: 3px solid white;
      padding: 10px;
      display:flex;
      justify-content:center;
      align-items:center;
      
    }
    h1{
      text-align:center;
      color: white;
      font-family: 'Courier New', mono-space;
    }
    h2{
      text-align:center;
      color:white;
      font-family: 'Courier New', monospace;
    }
    
    .container-btn{
      display:flex;
      justify-content: center;
      align-items:center;
      flex-direction:column;
    }
    .container1{
      display:flex;
      justify-content:center;
      align-items: center;
      flex-direction:column;
      
      
    }
    .header-img img{
      margin-right:auto;
      width: 84px;
      height: 84px;
    }
     .button{
      padding:10px 20px;
      font-size: 16px;
      border-radius: 5px;
      background-color:white;
      color:black;
      align-items: center;
      justify-content: center;
      display:flex;   
      text-align:center;
      margin:8px;
      width:200px;
      font-family: 'Courier New', monospace;
      flex-direction:column;
      font-weight: bold;
    }
    .button:hover{
      color: pink;
      background-color:black;
    }
    #display-area{
      margin-top: 10px;
      padding:20px;
      background-color: white;
      color:black;
      border-radius: 20px;
      text-align:center;
      font-family: 'Courier New', monospace;
    }
    .footer{
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      padding: 20px;
      text-align: center;
      font-family:'Courier New', monospace;
      color: white;
    }